@charset "UTF-8";
.footer {
	grid-area: footer;
	padding: 1rem;
	width: 95%;
	max-width: 100vw;
	margin: 2rem auto 1rem auto;
	border-radius: var(--radius-basic);
	background-color: var(--color-bg-sub);
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer-copy {
}

.footer-external {
}

.footer__external-link {
	margin: 1rem 0.5rem 0 0.5rem;
	border: 0;
	transform: scale(1);
}

.footer-link:hover {
	border-radius: 2rem;
	color: var(--color-text-main);
	background-color: white;
	font-weight: bold;
}

/** PC Edition */
@media screen and (min-width: 1280px) {
	.footer-copy {
	}

	.footer-external {
	}

	.footer-link:hover {
		border-radius: 2rem;
		color: inherit;
		background-color: inherit;
		font-weight: inherit;
	}
}
