@charset "UTF-8";
.footer {
	grid-area: footer;
	padding: 1rem;
	width: 95%;
	max-width: 100vw;
	margin: 1rem auto;
	border-radius: var(--radius-basic);
	background-color: var(--color-bg-sub);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/**
 * TODO: Reserved class.
 * .footer-copy {
 *
 * }
 */

/**
 * TODO: Reserved class.
 * .footer-external {
 *
 * }
 */

.icon-pagetopscroll {
	grid-area: icon-pagetopscroll;
	width: 24px;
	height: 24px;
	transform: scale(2);
	margin: 2rem;
	color: white;
	align-self: end;
}

.footer-link:hover {
	border-radius: 2rem;
	color: var(--color-text-main);
	background-color: white;
	font-weight: bold;
}

.footer__external-link {
	margin: 1rem 0.5rem 0 0.5rem;
	border: 0;
	transform: scale(1);
}

/** PC Edition */
@media screen and (min-width: 1280px) {
	.footer {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.footer-link:hover {
		border-radius: 2rem;
		color: inherit;
		background-color: inherit;
		font-weight: inherit;
	}
	/**
	 * TODO: Reserved class.
	 * .footer-copy {
	 * }
	 */

	.footer-external {
		margin-left: auto;
	}
	/**
	 * TODO: Reserved class.
	 * .icon-pagetopscroll {
	 * }
	 */
}
