@charset "UTF-8";
header {
	grid-area: header;
	width: 100%;
	max-width: 100vw;
	height: var(--height-header);
	background-color: white;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: fixed;
	z-index: 100;
	overflow: hidden;
}

.logo {
	border: 0;
	padding: 0;
	width: auto;
	color: inherit;
	transform: scale(1);
}

.header-nav__menu,
.header-nav__external {
	display: flex;
}

.header-nav-link {
	border: 1px solid dimgray;
	border-radius: 2rem;
	padding: 0.5rem;
	min-width: 6rem;
	color: dimgray;
	text-align: center;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}
.header-nav-link:hover {
	border-radius: 2rem;
	color: white;
	background-color: dimgrey;
	font-weight: bold;
}

.header-nav__external {
}

/** nav breadcrumb */
.basic-layout__breadcrumb {
	grid-area: breadcrumb;
	width: 100%;
	padding: var(--height-breadcrumb) 0 0 2rem;
	min-height: var(--height-header);
	background-color: var(--color-secondary);
	border-radius: var(--radius-header-basic);
	position: fixed;
	display: flex;
	justify-content: left;
	z-index: 99;
}
.note-layout__breadcrumb {
	grid-area: breadcrumb;
	width: 100%;
	padding: var(--height-breadcrumb) 0 0 1rem;
	min-height: var(--height-header);
	background-color: var(--color-secondary);
	border-radius: var(--radius-header-sub);
	position: fixed;
	display: flex;
	justify-content: left;
	z-index: 99;
}
.breadcrumb__nav ol li {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}

/** TB Contents */
@media screen and (max-width: 1280px) {
	.logo {
		transform: scale(0.8);
	}

	.header-nav {
		display: block;
	}
	.header-nav-link {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: white;
		font-weight: normal;
	}
}

/** SP Contents */
@media screen and (max-width: 500px) {
	:root {
		--top-nav-icon: 15px;
	}

	h1 {
		padding: 0;
		margin: 0;
	}

	.logo {
		transform: scale(0.5);
	}

	/**
   * ハンバーガーメニュー
   */
	.header-nav {
		position: relative;
	}
	.header-nav__icon {
		width: 40px;
		height: 30px;
		position: fixed;
		top: var(--top-nav-icon);
		left: 20px;
		cursor: pointer;
		z-index: 3;
		display: inline-block;
	}
	/** 三本線 */
	.header-nav__line {
		display: block;
		height: 4px;
		margin: 6px 0;
		background: var(--color-bg-sub);
		border-radius: 2px;
		transition: 0.4s;
	}
	/** X線に変形 */
	#header-nav__toggle:checked + .header-nav__icon span:nth-child(1) {
		transform: translateY(10px) rotate(45deg);
	}
	#header-nav__toggle:checked + .header-nav__icon span:nth-child(2) {
		opacity: 0;
	}
	#header-nav__toggle:checked + .header-nav__icon span:nth-child(3) {
		transform: translateY(-10px) rotate(-45deg);
	}
	.header-nav--overlay {
		position: fixed;
		inset: 0;
		background: white;
		opacity: 0;
		pointer-events: none;
		transition: 0.4s;
		z-index: 1;
	}
	#header-nav__toggle:checked ~ .header-nav--overlay {
		opacity: 1;
		pointer-events: auto;
	}
	/** メニュー本体 */
	nav {
		margin: var(--top-nav-icon) 0 0 0;
		padding: var(--top-nav-icon) 0 0 0;
		position: fixed;
		right: 100%;
		width: 100%;
		height: 100%;
		background: white;
		transition: right 0.5s ease;
		z-index: 2;
	}
	.header-nav__menu,
	.header-nav__external {
		display: flex;
		flex-direction: column;
	}
	#header-nav__toggle:checked ~ nav {
		right: 0;
	}

	.header-nav a {
		border-top: 1px solid var(--color-border-main);
		border-right: 0;
		border-bottom: 0;
		border-left: 0;
		border-radius: 0;
		padding: 0.5rem;
		width: 100%;
		font-size: 2rem;
		color: var(--color-text-main);
		text-align: center;
		text-decoration: none;
	}
	.header-nav a:hover {
		border-radius: inherit;
		background-color: inherit;
		color: inherit;
		font-weight: inherit;
	}
	.icon {
		margin: 0.5rem 0 0.5rem 0;
		transform: scale(1.2);
	}
}
