@charset "UTF-8";
:root {
	/**
	 * アンカーリンクのためのヘッダー高さ変数
	 */
	/** height var*/
	--height-header: 15svh;
	--height-breadcrumb: 15svh;

	scroll-padding-top: var(--height-header);
	scroll-behavior: smooth;

	/** radius var*/
	--radius-header-basic: 0 0 2rem 2rem;
	--radius-header-sub: 0;
	--radius-footer-basic: 2rem 2rem 0 0;
	--radius-footer-sub: 0;
}

/**
* section
* width を 100% にしておき、max-width で最大幅を指定することで、
* 画面幅が狭い場合に自動的に縮むようにする。
*/
section {
	padding: 1rem;
	width: 100%;
	max-width: 80vw;
	font-size: 1.2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

/**
 * TODO: layoutごとにスタイルを分ける
 * .basic-layout {
 * }
 */
.note-layout {
	display: grid;
	grid-template-columns: 250px 1fr;
	grid-template-rows: auto auto 1fr auto;
	grid-template-areas:
		'header  header'
		'breadcrumb breadcrumb'
		'aside   main'
		'footer  footer';
	align-self: flex-start;
}

.basic-layout__header {
	border-radius: var(--radius-header-basic);
}

.note-layout__header {
	border-radius: var(--radius-header-sub);
	justify-content: flex-start;
}

main {
	grid-area: main;
	padding-top: calc(var(--height-header) - 2rem);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
}

/**
 * TODO: layoutごとにmainのスタイルを分ける
 * .basic-layout__main {
 * }
 */

.note-layout__main {
	counter-reset: section-counter;
	align-items: flex-start;
}

.main--with-breadcrumb {
	padding-top: var(--height-breadcrumb);
}

aside {
	grid-area: aside;
	padding: 1rem;
	padding-top: calc(var(--height-breadcrumb) + 5vh);
	width: 100%;
	border-right: 1px solid gray;
	background-color: var(--color-bg-aside);
}

.sidebar__ol {
	display: flex;
	flex-direction: column;
}

pre {
	padding: 1rem;
	color: white;
	background-color: black;
	font-family: Consolas, sans-serif;
	border-radius: 1rem;
}

@media screen and (max-width: 1280px) {
	:root {
		/** height var*/
		--height-header: 15svh;
		--height-breadcrumb: 17svh;

		/** radius var*/
		--radius-header-basic: 0 0 2rem 2rem;
		--radius-header-sub: 0;
		--radius-footer-basic: 2rem 2rem 0 0;
		--radius-footer-sub: 0;
	}

	section {
		max-width: 100vw;
	}
}

@media screen and (max-width: 500px) {
	:root {
		/** height var*/
		--height-header: 8svh;
		--height-breadcrumb: 10svh;

		/** radius var*/
		--radius-header-basic: 0 0 2rem 2rem;
		--radius-header-sub: 0;
		--radius-footer-basic: 2rem 2rem 0 0;
		--radius-footer-sub: 0;
	}

	body {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto 1fr auto auto;
		grid-template-areas:
			'header'
			'aside'
			'main'
			'breadcrumb'
			'footer';
	}

	.note-layout {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto 1fr auto;
		grid-template-areas:
			'header'
			'breadcrumb'
			'aside'
			'main'
			'footer';
	}

	section {
		max-width: 100vw;
	}
}
