@charset "UTF-8";
:root {
	/**
	 * アンカーリンクのためのヘッダー高さ変数
	 */

	/** height var*/
	--height-header: 10svh;
	--height-breadcrumb: 12svh;
	scroll-padding-top: var(--height-header);
	scroll-behavior: smooth;

	/** radius var*/
	--radius-basic: 1rem;
}

/**
* MEMO: section
* width を 100% にしておき、max-width で最大幅を指定することで、
* 画面幅が狭い場合に自動的に縮むようにする。
*/
section {
	padding: 1rem;
	width: 100%;
	max-width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.basic-layout {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.note-layout {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto 1fr auto auto;
	grid-template-areas:
		'header'
		'aside'
		'main'
		'breadcrumb'
		'footer';
}

.note-layout__headding-three {
	margin: 1rem 0.5rem 0.5rem 1rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	text-align: left;
}

.basic-layout__header {
	border-radius: var(--radius-basic);
}

.note-layout__header {
	border-radius: var(--radius-basic);
	justify-content: flex-start;
}

.note-layout__section {
	background-color: transparent;
	align-items: flex-start;
}

main {
	grid-area: main;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
}

/**
 * TODO: layoutごとにmainのスタイルを分ける
 * .basic-layout__main {
 * }
 */

.note-layout__main {
	background-color: white;
}

aside {
	grid-area: aside;
	padding: 0 1rem;
	margin-top: calc(var(--height-breadcrumb) + 5vh);
	width: 100%;
	background-color: var(--color-bg-aside);
}

.sidebar__ol {
	display: flex;
	flex-direction: column;
}

pre {
	padding-left: 1rem;
	color: white;
	background-color: black;
	font-family: Consolas, sans-serif;
	border-radius: 0.5rem;
}

@media screen and (min-width: 1280px) {
	:root {
		/** height var*/
		--height-header: 15svh;
		--height-breadcrumb: 15svh;
	}

	.note-layout {
		grid-template-columns: 250px 1fr;
		grid-template-rows: auto auto 1fr auto;
		grid-template-areas:
			'header  header'
			'breadcrumb breadcrumb'
			'aside   main'
			'footer  footer';
		align-self: flex-start;
	}

	aside {
		border-top: 1px solid lightgray;
		border-right: 1px solid lightgray;
		border-bottom: 1px solid lightgray;
	}

	.main--with-breadcrumb {
		margin-top: calc(var(--height-breadcrumb) + 5vh);
	}

	section {
		max-width: 90vw;
	}
}
