@charset "UTF-8";
/** 
 * hero Section
 * @description
 * min-height: ビューポートMAX高さ - ヘッダー高さ + ヘッダー半径を確保する
 * ことで、ヘッダー半径分だけ重なるようにする。
 */
.hero-section {
	padding: 0 1rem 5rem 1rem;
	max-width: 100%;
	min-height: calc(100svh - var(--height-header) + 2rem);
	color: var(--color-text-sub);
	background-image:
		url('../../images/mountain.svg'), linear-gradient(deepskyblue, whitesmoke);
	background-size:
		clamp(160px, calc(100svh - var(--height-header) + 2rem), 800px) auto,
		cover;
	background-repeat: no-repeat;
	background-position:
		100% bottom,
		center;
	justify-content: center;
	align-items: flex-start;
}
.hero-section__slogan {
	margin: 0 0 2rem 5rem;
	font-size: 6rem;
	color: white;
	text-align: left;
	line-height: 1;
}
.hero-section__slogan-main {
	font-size: 6rem;
	font-weight: bold;
}
.hero-section__slogan-sub {
	font-size: 3rem;
}
.hero-section__slogan-explain {
	margin: 0 0 0 5rem;
	color: var(--color-text-main);
}

/** About Me Section */
.aboutme-section__explain {
	padding: 1.5rem;
	width: 100%;
	max-width: 60rem;
}

/** Skills Section */
.skills-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: var(--radius-basic);
	background-color: white;
}
.tile--html {
	color: var(--color-text-sub);
	background-color: mediumseagreen;
}
.tile--css {
	color: var(--color-text-sub);
	background-color: #663399;
}
.tile--js {
	color: var(--color-text-main);
	background-color: #f3df49;
}
.tile--ts {
	color: var(--color-text-sub);
	background-color: DodgerBlue;
}
.tile--sql {
	color: var(--color-text-sub);
	background-color: darkred;
}
.tile--twcss {
	color: var(--color-text-sub);
	background-color: #38bdf8;
}
.tile--react {
	color: DeepSkyBlue;
	background-color: var(--color-bg-sub);
}
.tile--other {
	color: var(--color-text-sub);
	background-color: var(--color-bg-sub);
}
.tile--websites,
.tile--books {
	border: 1px solid var(--color-border-main);
}

/* portfolio Section */
.portfolio-section {
	max-width: 90%;
	border-radius: var(--radius-basic);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
}

.portfolio-section__item {
	background-color: var(--color-primary);
}

.portfolio-section__item-img {
	padding: 2rem;
	background-color: var(--color-bg-main);
	border-radius: var(--radius-basic);
	text-align: center;
	min-height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Career Section */
.career-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.career-section dl {
	display: grid;
	grid-template-columns: 1fr 2fr;
}
.career-section dt {
	margin: 2rem;
	font-weight: bold;
}
.career-section dd {
	margin: 2rem;
}

/* TB Contents */
@media screen and (min-width: 501px) and (max-width: 1280px) {
	.hero-section__slogan {
		margin: 0 0 2rem 2rem;
	}
	.hero-section__slogan-main {
		font-size: 4rem;
		font-weight: bold;
	}
	.hero-section__slogan-sub {
		font-size: 3rem;
	}
	.hero-section__slogan-explain {
		margin: 0 0 0 2rem;
	}

	li:hover {
		pointer-events: none;
	}

	.portfolio-section dl {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* SP Contents */
@media screen and (max-width: 500px) {
	.hero-section__slogan {
		margin: 0 0 2rem 0;
	}
	.hero-section__slogan-main {
		font-size: 3rem;
		font-weight: bold;
	}
	.hero-section__slogan-sub {
		font-size: 2rem;
	}
	.hero-section__slogan-explain {
		margin: 0;
		font-size: 1rem;
	}

	li:hover {
		pointer-events: none;
	}

	.portfolio-section dl {
		grid-template-columns: 1fr;
	}

	.career-section dl {
		display: flex;
		flex-direction: column;
	}
}
