@charset "UTF-8";
/** 
 * @description hero-Section
 * - min-height: ビューポートMAX高さ - ヘッダー高さ + ヘッダー半径を確保する
 * 	 ことで、ヘッダー半径分だけ重なるようにする。
 */
.hero-section {
	padding: 0 1rem 5rem 1rem;
	max-width: 100%;
	min-height: 100svh;
	color: var(--color-text-sub);
	background-image:
		url('../../images/mountain.svg'), linear-gradient(deepskyblue, whitesmoke);
	background-size:
		clamp(160px, calc(100svh - var(--height-header) + 2rem), 300px) auto,
		cover;
	background-repeat: no-repeat;
	background-position:
		100% bottom,
		center;
	justify-content: center;
	align-items: flex-start;
}
.hero-section__slogan {
	margin: 0 0 2rem 0;
	font-size: 3.5rem;
	display: flex;
	flex-direction: column;
	color: white;
	text-align: left;
	line-height: 1;
	font-weight: 1000;
	text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
	letter-spacing: 0.05em;
}

.hero-section__slogan span {
	display: block;
}

.hero-section__slogan-break {
	display: block;
}

.hero-section__slogan-explain {
	margin: 0;
	font-size: 1rem;
	color: var(--color-text-main);
}

/** About Me Section */
.aboutme-section__explain {
	padding: 1.5rem;
	width: 100%;
	max-width: 60rem;
}

/** Skills Section */
.skills-section {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
}

.tile-other__item {
	margin-top: 1rem;
	border-top: 1px solid var(--color-border-sub);
	font-size: 1.2rem;
	font-weight: normal;
	color: var(--color-text-sub);
}
.tile-other__explain {
	margin-top: 0.5rem;
	font-weight: normal;
}
.tile-websites,
.tile-books {
	border: 1px solid var(--color-border-main);
}

.tile-websites__item,
.tile-books__item {
	margin-top: 1rem;
	border-top: 1px solid var(--color-border-main);
	font-size: 1.2rem;
	font-weight: normal;
}
.tile-websites__explain,
.tile-books__explain {
	margin-top: 0.5rem;
	font-weight: normal;
}

/** portfolio Section */
.portfolio-section {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.portfolio-section__item {
	background-color: var(--color-primary);
}
.portfolio-section__item-explain {
	color: var(--color-text-sub);
}

/** Career Section */
.career-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.career-section__table {
	display: flex;
	flex-direction: column;
}
.career-section__table-title {
	margin: 2rem 0 0 2rem;
	text-align: left;
	font-weight: bold;
}
.career-section__table-content {
	margin: 2rem;
}

/** PC Edition */
@media screen and (min-width: 1280px) {
	.hero-section {
		background-size:
			clamp(160px, calc(100svh - var(--height-header) + 2rem), 800px) auto,
			cover;
	}
	.hero-section__slogan {
		margin: 0 0 2rem 5rem;
		font-size: 6rem;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.hero-section__slogan span {
		display: inline;
	}
	.hero-section__slogan-break {
		display: none;
	}
	.hero-section__slogan-explain {
		margin: 0 0 0 5rem;
		font-size: 1.5rem;
	}

	.skills-section {
		border-radius: var(--radius-basic);
		box-shadow: 10px 10px 10px 10px lightgray;
	}

	.career-section__table {
		display: grid;
		grid-template-columns: 1fr 3fr;
	}
	.career-section__table-title {
		text-align: right;
	}
}
