@charset "UTF-8";
.cards {
	width: 100%;
	max-width: 60rem;
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	scrollbar-width: none;
	user-select: none;
	cursor: grab;
}
.cards.is-dragging {
	cursor: grabbing;
}
.card {
	margin: 1rem;
	padding: 1rem;
	width: 30vw;
	min-width: 30vw;
	border-radius: 1rem;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
}

.card_title {
	font-size: 2rem;
}
.card__title-section {
	font-size: 1.5rem;
}

/* Tablet Contents Style */
@media screen and (max-width: 1280px) {
}

/* SmartPhone Image styles */
@media screen and (max-width: 500px) {
	.card {
		width: 15vw;
		min-width: 15vw;
	}
}
