@charset "UTF-8";
.cards {
	width: 100%;
	max-width: 100vw;
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	scrollbar-width: none;
	user-select: none;
	cursor: grab;
}
.cards.is-dragging {
	cursor: grabbing;
}
.card {
	margin: 1rem;
	padding: 1rem;
	min-width: 20vw;
	border-radius: 1rem;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
}

.card__title {
	font-weight: bold;
	font-size: 1.2rem;
}
.card__title-section {
	font-size: 1.5rem;
}

/** TB Contents */
@media screen and (max-width: 1280px) {
	.card:hover {
		pointer-events: none;
	}
}

/** SP Contents */
@media screen and (max-width: 500px) {
	.card {
		width: 50vw;
		min-width: 50vw;
	}
	.card:hover {
		pointer-events: none;
	}
}
