@charset "UTF-8";
.tiles--2col,
.tiles--3col {
	display: flex;
	flex-direction: column;
}

.tile {
	margin: 0.5rem;
	padding: 1rem;
	width: calc(100% - 1rem);
	min-width: 20vw;
	min-height: 20vh;
	border-radius: 0.5em;
	text-align: left;
}
.tile__title {
	font-weight: bold;
	font-size: 1.5rem;
}

/** SP Contents */
@media screen and (min-width: 1280px) {
	.tiles--3col {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		width: 100%;
	}
	.tiles--2col {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: 100%;
	}
}
