@charset "UTF-8";
.tiles--3col {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
}
.tiles--2col {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
}

.tile {
	margin: 0.5rem;
	padding: 1rem;
	width: calc(100% - 1rem);
	min-width: 20vw;
	min-height: 20vh;
	text-align: left;
	font-weight: bold;
}
.tile__title {
	font-weight: bold;
	font-size: 1.5rem;
}

/** TB Contents */
@media screen and (max-width: 1280px) {
}

/** SP Contents */
@media screen and (max-width: 500px) {
	.tiles--2col,
	.tiles--3col {
		display: flex;
		flex-direction: column;
	}
}
