@charset "UTF-8";
:root {
	/* color var*/
	--color-primary: DeepSkyBlue;
	--color-secondary: LightSkyBlue;
	--color-bg-main: whitesmoke;
	--color-bg-sub: dimgray;
	--color-border-main: dimgray;
	--color-text-main: dimgray;
	--color-text-sub: white;
	--color-form-error: red;
	--color-form-hover: gray;

	font-family: 'Century Gothic', sans-serif;
	line-height: 1.5;
}

body {
	margin: 0;
	padding: 0;
}

/* Contents */
main {
	background-color: var(--color-bg-main);
	color: var(--color-text-main);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
}

/* Section */
section {
	padding: 1rem;
	/* 
     * width を 100% にしておき、max-width で最大幅を指定することで、
     * 画面幅が狭い場合に自動的に縮むようにする。
     */
	width: 100%;
	max-width: 60rem;
	font-size: 1.2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
section.top {
	margin-top: var(--height-header);
}

/* Font */
h1 {
	margin: 1rem;
	padding: 1rem;
}
h2 {
	margin: 1rem 0.5rem 0.5rem 0;
	font-size: 4rem;
}
h3 {
	margin: 2rem 0;
	font-size: 3rem;
}
h4 {
	margin: 2rem 0;
	font-size: 2rem;
	text-align: center;
}

/* List */
ul {
	list-style: square;
	padding: 2rem;
	display: flex;
	flex-direction: column;
}
ol {
	list-style-type: decimal;
	padding: 0.5rem;
}
li {
	width: auto;
	height: auto;
	font-size: 1rem;
	font-weight: normal;
	background-color: transparent;
	border-radius: 0;
	box-shadow: none;
	display: initial;
}

/* Link */
a {
	text-decoration: underline;
}
a:hover {
	font-weight: bold;
	text-decoration: none;
}

/* Table */
table {
	margin: 0.5rem 0;
	width: 100%;
	max-width: 60rem;
	overflow-wrap: break-word;
}
th,
td {
	padding: 0.75rem;
	border: 1px solid var(--color-border-main);
	text-align: left;
	word-break: break-word;
	overflow-wrap: break-word;
	white-space: normal;
}

/* SVG Contents */
.icon {
	width: 24px;
	height: 24px;
	display: block;
	justify-content: center;
}

/* TB Contents */
@media screen and (max-width: 1280px) {
	:root {
		/* color var*/
		--color-primary: DeepSkyBlue;
		--color-secondary: LightSkyBlue;
		--color-bg-main: whitesmoke;
		--color-bg-sub: dimgray;
		--color-border-main: dimgray;
		--color-text-main: dimgray;
		--color-text-sub: white;
		--color-form-error: red;
		--color-form-hover: gray;
	}
}

/* SP Contents */
@media screen and (max-width: 500px) {
	:root {
		/* color var*/
		--color-primary: DeepSkyBlue;
		--color-secondary: LightSkyBlue;
		--color-bg-main: whitesmoke;
		--color-bg-sub: dimgray;
		--color-border-main: dimgray;
		--color-text-main: dimgray;
		--color-text-sub: white;
		--color-form-error: red;
		--color-form-hover: gray;
	}
}
