@charset "UTF-8";
/**
 * 「どのページか分からないと意味が変わるCSS」はbaseに置かない
 *  ex) .note-layout__content
 */
:root {
	/** color var*/
	--color-primary: DeepSkyBlue;
	--color-secondary: LightSkyBlue;
	--color-tertiary: MediumSeaGreen;
	--color-bg-main: whitesmoke;
	--color-bg-sub: dimgray;
	--color-bg-aside: white;
	--color-border-main: dimgray;
	--color-border-sub: whitesmoke;
	--color-text-main: dimgray;
	--color-text-sub: white;
	--color-form-bg: ivory;
	--color-form-error: red;
	--color-form-hover: gray;

	font-family:
		-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial,
		'Hiragino Kaku Gothic ProN', 'Noto Sans JP', メイリオ, sans-serif;
	line-height: 1.5;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--color-bg-main);
}

/** Contents */
main {
	color: var(--color-text-main);
}

/** Font */
p {
	font-size: 1rem;
}
h1 {
	margin: 0.5rem;
}
h2 {
	margin: 1rem 0.5rem 0.5rem 0;
	font-size: 3rem;
}
h3 {
	margin: 2rem 0;
	font-size: 2rem;
	text-align: center;
}
h4 {
	font-size: 1.5rem;
	text-align: center;
}
h5 {
	font-size: 1rem;
	text-align: center;
}

/** headeing numbered */
.section__heading--numbered {
	counter-increment: section-counter;
}
.section__heading--numbered::before {
	content: counter(section-counter) '. ';
}

/** List */
ul {
	list-style: square;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
}
ol {
	list-style-type: decimal;
	padding: 0.5rem;
}
li {
	width: auto;
	height: auto;
	font-size: 1rem;
	font-weight: normal;
	background-color: transparent;
	border-radius: 0;
	box-shadow: none;
	display: initial;
}

/** Link */
a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

/** Table */
table {
	margin: 0.5rem 0;
	width: 100%;
	max-width: 60rem;
	overflow-wrap: break-word;
}
th,
td {
	padding: 0.75rem;
	border: 1px solid var(--color-border-main);
	text-align: left;
	word-break: break-word;
	overflow-wrap: break-word;
	white-space: normal;
}

/** Form */
input {
	appearance: auto;
}

/** SVG Contents */
.icon {
	width: 24px;
	height: 24px;
	display: block;
	justify-content: center;
	color: #000;
}

#svg-sprite svg {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}
